<div class="container mt-5">
    <h2 class="mb-4">🛒 Carrito de Compras</h2>
  
    <div class="table-responsive">
      <table class="table align-middle text-center">
        <thead class="table-light">
          <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
  
          @for (product of products(); track $index) {
              <tr>
            <td>
              <img [src]="product.product.urlImage"  class="img-thumbnail" style="width: 80px; height: 80px; object-fit: cover;">
            </td>
            <td>{{product.product.name}}</td>
            <td>{{product.product.amount}}</td>
            <td>{{product.quantity}}</td>
            <td>${{product.quantity*product.product.amount}}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm" (click)="deleteItem(product.product.id)">
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  
    <div class="d-flex justify-content-between align-items-center mt-4 border-top pt-3">
      <button class="btn btn-outline-secondary" (click)="clearCart()">Vaciar carrito</button>
      <h4>Total:{{total()}} <span class="text-success"></span></h4>
    </div>
  </div>