<mat-card>
    <mat-card-header>
        <mat-card-title>
            Register
        </mat-card-title>

        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Breed</mat-label>
                    <input matInput formControlName="breed" type="text" placeholder="Chihuahua">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="Chihuahua is a small dog"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Image URL</mat-label>
                    <input matInput formControlName="urlImage" type="text" placeholder="http://image.com/my-image.png">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add</button>
            </form>
        </mat-card-content>
    </mat-card-header>
</mat-card>